.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}
.searchBar {
    border: none;
    color: black;
    position: fixed;
    top: 20px;
    right: 20px;
}